@font-face {
   font-family: 'Hedvig Letters Sans';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/Kieran%20Nolan/Documents/GitHub/gotfined/fonts/Hedvig Letters Sans/regular.ttf') format('truetype');
}
